.sidebar {
  height: 100%;
  width: 160px;
  /*
  position: fixed;
  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar__nav {
  padding: 2px 4px 4px 2px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar__nav-item {
  font-size: 16px;
  color: black;
}

